* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
}

section {
    display: flex;
}

.add-dog-form * {
    height: 25px;
}

#breeds-list {
    width: 300px;
}

.add-dog-form .add-dog {
    margin: 0 0 0 2px;
    width: 100px;
}

.dog-img-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.dogs {
    align-content: flex-start;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.dogs .dog-img {
    width: 200px;
    height: 200px;
    margin: 20px 20px 0 20px;
}

.dogs .dog-img img {
    height: 100%;
    width: 100%;
}

.del-btn {
    background: crimson;
    border: none;
    border-radius: 44px;
    bottom: 105%;
    cursor: pointer;
    height: 25px;
    left: 90%;
    position: relative;
}

.dogs .dog-img:hover {
    cursor: pointer;
}

.loader {
    animation: spin 2s linear infinite;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    display: none;
    width: 80px;
    height: 80px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}